/*初始化*/
* {
  margin: 0;
  padding: 0;
  border: 1px solid #000; /* 边框仅供实验显示，之后会用none取代 */
  border: none;
}

/*灰色背景*/
body {
  margin: 0;
  height: 100vh;
  background-color: #eee; /*灰色背景*/
}

/*白色*/
.bg_white {
  background-color: white;
}

/*以下为搜索框的样式*/
.container {
  height: 70px;
  width: 800px;
  margin: 100px auto 0 auto;
}
.parent {
  position: relative;
}
.search {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 40px;
  border-radius: 18px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 20px;
  position: absolute;
}
.btn {
  display: block;
  position: absolute;
  z-index: 9999999;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  background: url("images/searchbar.png") no-repeat center;
  object-fit: scale-down;

  top: 6px;
  left: 285px;
  border: none;
  outline: none;
  cursor: pointer;
}

/*头部背景*/
.bg_blue {
  background-color: rgb(0, 255, 234);
  background-image: url("images/topbar.jpg");
}

/*以下为导航栏的样式*/
.nav {
  display: flex;

  align-items: stretch;
}
.f1 {
  flex: 1;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 20px;
}
.leftbd {
  border-right: 1px solid #ccc;
}
.rightbd {
  border-left: 1px solid #ccc;
}
a {
  display: block;
  color: #000;
  text-decoration: none;
}
a:hover {
  color: rgb(111, 111, 234);
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid rgb(111, 111, 234);
}
a.active {
  color: rgb(111, 111, 234);
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid rgb(111, 111, 234);
}
.opened {
  color: rgb(111, 111, 234);
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid rgb(111, 111, 234);
}

/*内容板块*/
.content {
  overflow: auto;
  margin: 6px auto;
  height: 600px;
  background-color: rgb(255, 255, 255);
  z-index: -1; /*设置该标签等级，让其始终位于最上层*/
  -webkit-filter: opacity(70%); /*设置透明度   blur还可以改变照片的模糊度*/
  filter: opacity(70%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 00 10px #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 25px auto;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 00 5px #eee;
  display: none;
}
.content:hover .box {
  display: flex;
}

/*去除滚动条*/
div::-webkit-scrollbar {
  display: none;
}

.tail {
  background-color: #05468c;
  height: 100px;
}
